<app-layer [draggable]="true" [opacity]="1" (beforeDraw)="beforeDraw()">
    <app-group [opacity]="1" [x]="0" [y]="0">
        <!-- <app-rect [opacity]="1" [x]="0" [y]="0" [cornerRadius]="10" [width]="100" [height]="100"></app-rect> -->
        <app-line [closed]="true" stroke="red"></app-line>
        <app-circle #controlPoint [draggable]="true" [radius]="10" [x]="topLeftX" [y]="topLeftY" fill="black"></app-circle>
        <app-circle #controlPoint [draggable]="true" [radius]="10" [x]="topRightX" [y]="topRightY" fill="black"></app-circle>
        <app-circle #controlPoint [draggable]="true" [radius]="10" [x]="bottomLeftX" [y]="bottomLeftY" fill="black"></app-circle>
        <app-circle #controlPoint [draggable]="true" [radius]="10" [x]="bottomRightX" [y]="bottomRightY" fill="black"></app-circle>
    </app-group>
</app-layer> 
<input type="number" [(ngModel)]="topLeftX" />
<input type="number" [(ngModel)]="topLeftY" />
<input type="number" [(ngModel)]="topRightX" />
<input type="number" [(ngModel)]="topRightX" />
<input type="number" [(ngModel)]="bottomLeftX" />
<input type="number" [(ngModel)]="bottomLeftY" />
<input type="number" [(ngModel)]="bottomRightX" />
<input type="number" [(ngModel)]="bottomRightX" />

<input type="number" [(ngModel)]="globalTopLeftX" />
<input type="number" [(ngModel)]="globalTopLeftY" />
<input type="number" [(ngModel)]="globalTopRightX" />
<input type="number" [(ngModel)]="globalTopRightX" />
<input type="number" [(ngModel)]="globalBottomLeftX" />
<input type="number" [(ngModel)]="globalBottomLeftY" />
<input type="number" [(ngModel)]="globalBottomRightX" />
<input type="number" [(ngModel)]="globalBottomRightX" />