<!-- <input type="number" [(ngModel)]="topLeftX" />
<input type="number" [(ngModel)]="topLeftY" />
<input type="number" [(ngModel)]="topRightX" />
<input type="number" [(ngModel)]="topRightX" />
<input type="number" [(ngModel)]="bottomLeftX" />
<input type="number" [(ngModel)]="bottomLeftY" />
<input type="number" [(ngModel)]="bottomRightX" />
<input type="number" [(ngModel)]="bottomRightX" /> -->
<konva-debug [component]="this">
    <konva-line [closed]="false" [strokeWidth]="25" stroke="transparent"></konva-line>
    <konva-line [closed]="false" [strokeWidth]="5" [stroke]="color"></konva-line>
    <konva-circle [draggable]="true" [radius]="10" [x]="topLeftX" [y]="topLeftY" fill="white"></konva-circle>
    <konva-circle [draggable]="true" [radius]="10" [x]="topRightX" [y]="topRightY" fill="white"></konva-circle>
    <konva-circle [draggable]="true" [radius]="10" [x]="bottomLeftX" [y]="bottomLeftY" fill="white"></konva-circle>
    <konva-circle [draggable]="true" [radius]="10" [x]="bottomRightX" [y]="bottomRightY" fill="white"></konva-circle>

    <input type="number" [(ngModel)]="globalTopLeftX" />
    <input type="number" [(ngModel)]="globalTopLeftY" />
    <input type="number" [(ngModel)]="globalTopRightX" />
    <input type="number" [(ngModel)]="globalTopRightX" />
    <input type="number" [(ngModel)]="globalBottomLeftX" />
    <input type="number" [(ngModel)]="globalBottomLeftY" />
    <input type="number" [(ngModel)]="globalBottomRightX" />
    <input type="number" [(ngModel)]="globalBottomRightX" />
</konva-debug>