<konva-rect [opacity]="1" [x]="0" [y]="0" [cornerRadius]="10" [width]="100" [height]="100"></konva-rect>
<konva-line [closed]="true" stroke="red"></konva-line>
<konva-circle [draggable]="true" [radius]="10" [x]="topLeftX" [y]="topLeftY" fill="black"></konva-circle>
<konva-circle [draggable]="true" [radius]="10" [x]="topRightX" [y]="topRightY" fill="black"></konva-circle>
<konva-circle [draggable]="true" [radius]="10" [x]="bottomLeftX" [y]="bottomLeftY" fill="black"></konva-circle>
<konva-circle [draggable]="true" [radius]="10" [x]="bottomRightX" [y]="bottomRightY" fill="black"></konva-circle>
<input type="number" [(ngModel)]="topLeftX" />
<input type="number" [(ngModel)]="topLeftY" />
<input type="number" [(ngModel)]="topRightX" />
<input type="number" [(ngModel)]="topRightX" />
<input type="number" [(ngModel)]="bottomLeftX" />
<input type="number" [(ngModel)]="bottomLeftY" />
<input type="number" [(ngModel)]="bottomRightX" />
<input type="number" [(ngModel)]="bottomRightX" />

<input type="number" [(ngModel)]="globalTopLeftX" />
<input type="number" [(ngModel)]="globalTopLeftY" />
<input type="number" [(ngModel)]="globalTopRightX" />
<input type="number" [(ngModel)]="globalTopRightX" />
<input type="number" [(ngModel)]="globalBottomLeftX" />
<input type="number" [(ngModel)]="globalBottomLeftY" />
<input type="number" [(ngModel)]="globalBottomRightX" />
<input type="number" [(ngModel)]="globalBottomRightX" />